# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin/

# Database
CS320_Team_Project/inputsdb/
*.dat
*.dat
*.dat
CS320_Team_Project/inputsdb/seg0/c71.dat
CS320_Team_Project/inputsdb/seg0/c81.dat
CS320_Team_Project/inputsdb/seg0/c90.dat
CS320_Team_Project/inputsdb/seg0/ca1.dat
CS320_Team_Project/inputsdb/seg0/cb1.dat
CS320_Team_Project/inputsdb/log/log.ctrl
CS320_Team_Project/inputsdb/log/log.ctrl
CS320_Team_Project/inputsdb/log/log1.dat
CS320_Team_Project/inputsdb/log/logmirror.ctrl
*.dat
CS320_Team_Project/inputsdb/seg0/c10.dat
CS320_Team_Project/inputsdb/seg0/c101.dat
CS320_Team_Project/inputsdb/seg0/c101.dat
*.dat
CS320_Team_Project/inputsdb/db.lck
CS320_Team_Project/inputsdb/log/log.ctrl
CS320_Team_Project/inputsdb/db.lck
CS320_Team_Project/inputsdb/log/log1.dat
CS320_Team_Project/inputsdb/log/logmirror.ctrl
CS320_Team_Project/inputsdb/seg0/c20.dat
